/* Styling the Home Page */
.homeContainer {
  width: 100vw;
  height: 100vh;
}
/* Styling the containerTop div in the PageHeader.js file */
.containerTop {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  /* background-color: #111111; */
  background-color: #0B112B;
}
.containerTop .left {
  width:20vw;
  height: 12vh;
}
.containerTop .left img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.containerTop .right {
  width: 65vw;
  height: max-content;
  display: flex;
  justify-content: space-between;
}
.containerTop .right .navBars{
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerTop .right .navBars a {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.containerTop .right .socialMediaLinks {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.containerTop .right .socialMediaLinks a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #F04A00;
  /* background-color: #007FFF; */
}
.containerTop .right .socialMediaLinks a i {
  font-size: 1.3rem;
  color: white;
}
.containerTop .showSidebarButtons {
  display: none;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}
.homeContainer .mainContent {
  width: 100vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #111111;
  padding-bottom: 5vh;
}
/* Styling the landing div */
.homeContainer .mainContent .landingDiv {
  width: 100vw;
  height: 80vh;
  background-image: url('/public/Landing\ Image.jpg');
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
  z-index: -1;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeContainer .mainContent .landingDiv div {
  width: 60vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeContainer .mainContent .landingDiv div h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #F04A00;
}
.homeContainer .mainContent .landingDiv div p {
  font-size: 1.5rem;
}
.homeContainer .mainContent .landingDiv div button {
  width: max-content;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #F04A00;
  color: white;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation: appear 1s ease-out forwards;
  animation-delay: 0.3s; 
}
.homeContainer .mainContent .ourStrength {
  width: 100vw;
  height: max-content;
  padding-bottom: 5vh;
}
.homeContainer .mainContent .ourStrength .header {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homeContainer .mainContent .ourStrength .header h1{
  font-size: 2rem;
}
.homeContainer .mainContent .ourStrength .header p {
  color: #BEBFC5;
}
.homeContainer .mainContent .ourStrength .body {
  display: flex;
  justify-content: space-between;
  padding: 2vw 2vw;
}
.homeContainer .mainContent .ourStrength .body .strength {
  width: 30vw;
  height: max-content;
  background-color: #1B1B1B;
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homeContainer .mainContent .ourStrength .body .strength #top {
  width: 27vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homeContainer .mainContent .ourStrength .body .strength #top #icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
}
.homeContainer .mainContent .ourStrength .body .strength #top #icon i {
  font-size: 1.5rem;
  color: #F04A00;
}
.homeContainer .mainContent .ourStrength .body .strength #top #underline {
  width: 3vw;
  height: 0.5vh;
  border-radius: 2px;
  background-color: #F04A00;
}
.homeContainer .mainContent .ourStrength .body .strength #body {
  padding-top: 5vh;
  color: #BEBFC5;
}
.homeContainer .mainContent .ourStrength .body .strength #body p {
  text-align: center;
}
.homeContainer .mainContent .whoWeAre {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  gap: 2vw;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homeContainer .mainContent .whoWeAre .left {
  width: 40vw;
  height: max-content;
  /* background-color: yellow; */
}
.homeContainer .mainContent .whoWeAre .left img {
  width: inherit;
  height: 70vh;
  object-fit: cover;
}
.homeContainer .mainContent .whoWeAre .right {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeContainer .mainContent .whoWeAre .right h1{
  animation: appear 1s ease-out forwards;
}
.homeContainer .mainContent .whoWeAre .right p {
  text-align: center;
  color: #BEBFC5;
}
.homeContainer .mainContent .whoWeAre .right button {
  width: max-content;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #F04A00;
  color: white;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homeContainer .mainContent .ratings {
  width: 100vw;
  height: max-content;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5vh 2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homeContainer .mainContent .ratings .rating {
  width: 20vw;
  height: max-content;
}
.homeContainer .mainContent .ratings .rating .top{
  width: inherit;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homeContainer .mainContent .ratings .rating .top h1 {
  font-size: 2.5rem;
}
.homeContainer .mainContent .ratings .rating .top span {
  color: #F04A00;
  font-weight: bold;
}
.homeContainer .mainContent .ratings .rating .top #underline {
  width: 3vw;
  height: 0.5vh;
  border-radius: 2px;
  background-color: #F04A00;
}
.homeContainer .mainContent .ratings .rating .body {
  padding-top: 2vh;
  color: #BEBFC5;
}
.homeContainer .mainContent footer {
  width: 100vw;
  height: max-content;
  color: #BEBFC5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}
.homeContainer .mainContent footer a {
  color: #F04A00;
}

/* Styling the about container */
.aboutContainer .mainContent {
  width: 100vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #111111;
  padding-bottom: 5vh;
}
.aboutContainer .mainContent .landingDiv {
  width: 100vw;
  height: 60vh;
  background-image: url('/public/about_image.png');
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
  z-index: -1;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContainer .mainContent .landingDiv p {
  color: #BEBFC5;
  font-size: 1rem;
}
.aboutContainer .mainContent .landingDiv p span {
  color: #F04A00;
  text-decoration: underline;
}
.aboutContainer .mainContent .whatWeDo {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}
.aboutContainer .mainContent .whatWeDo .left {
  width: 45vw;
  height: inherit;
  text-align: center;
  padding: 2vw;
}
.aboutContainer .mainContent .whatWeDo .left p {
  color: #BEBFC5;
}
.aboutContainer .mainContent .whatWeDo .right {
  width: 40vw;
  height: inherit;
}
.aboutContainer .mainContent .whatWeDo .right img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.aboutContainer .mainContent .ourValues {
  width: 100vw;
  height: max-content;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContainer .mainContent .ourValues h1 {
  text-align: center;
  padding: 5px;
}
.aboutContainer .mainContent .ourValues .allValues {
  width: max-content;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 22vw);
  gap: 2vw;
}
.aboutContainer .mainContent .ourValues .value {
  width: 22vw;
  height: max-content;
  background-color: #1B1B1B;
  border-radius: 10px;
  padding: 20px;
}
.aboutContainer .mainContent .ourValues .value .top {
  width: 19vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutContainer .mainContent .ourValues .value .top #icon{
  font-size: 3rem;
  color: #F04A00;
}
.aboutContainer .mainContent .ourValues .value .top div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutContainer .mainContent .ourValues .value .top div {
  font-size: 1.3rem;
}
.aboutContainer .mainContent .ourValues .value .body {
  overflow: hidden;
  transition: max-height 0,3s ease;
  padding-top: 5vh;
  color: #BEBFC5;
}
.aboutContainer .mainContent .ourValues .value .body p {
  text-align: center;
}
.aboutContainer .mainContent .ourMission {
  width: 100vw;
  height: 70vh;
  background-image: url('/public/Software Engineering.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-right: 10vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutContainer .mainContent .ourMission div {
  width: 50vw;
  height: max-content;
  padding: 5px;
  box-shadow: 0px 4px 6px #BEBFC5; 
  background-color: #111111;
  opacity: 0.9;
  padding: 15px;
}
.aboutContainer .mainContent .ourMission div #icon {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #BEBFC5;
}
.aboutContainer .mainContent .ourMission div #icon i {
  font-size: 1.5rem;
  color: #F04A00;
}
.aboutContainer .mainContent .ourMission div #content {
  color: #BEBFC5;
}